* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
  }

  //Colores
  $color-fondo: #08000D;
  $color-principal: white;
  $color-secundario: #5C47E0;
  $color-terciario: #171819;
  $color-cuaternario: #8A82E5;
  $fuente-principal: Poppins-Regular;
  $fuente-secundario: Poppins-Medium;
  $fuente-bold: Poppins-Bold;
  
  body {
   background: $color-fondo;
   color: $color-principal;
   -webkit-font-smoothing: antialiased;
   font-family: $fuente-principal;
  }
  
  body, input, button {
   font-size: 1rem;
   font-family: $fuente-principal;
  }
  
  button {
   cursor: pointer;
  }


  // Estilos de componente globales

  .main__titulares{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main__h3{
    color: $color-principal;
    font-family: $fuente-bold;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 0px;
    text-align: center;
  }

  .main__p{
   
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0px;
  }

  .main__linea{
    width: 58px;
    height: 2px;
    background-color: $color-secundario;
  }